* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "DM Sans", sans-serif;
}

:root {
	--purple: #6c63ff;
	--snow: #fafafa;
	--white: #fff;
	--dark: #171717;
	--gray: #828282;
	--light-dark: #191919;
	--light-gray: #cccccc;
}

html {
	font-family: "DM Sans";
	scroll-behavior: smooth;
	font-size: 65%;
}

body {
	background-color: var(--dark);
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background-color: #171717;
}

::-webkit-scrollbar-thumb {
	background-color: var(--purple);
	border-radius: 10px;
}

/*------------------------- HEADER -------------------------*/

header {
	position: fixed;
	top: 0;
	padding: 15px 80px;
	width: 100%;
	border-bottom: 1px solid rgba(114, 114, 126, 0.2);
	opacity: 0.96;
	z-index: 99;
	background-color: var(--dark);
}

header nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	text-decoration: none;
	font-size: 2.5rem;
	font-family: "DM Sans";
	color: var(--snow);
	outline: none;
}

.menu-icon {
	display: none;
}

.nav-list {
	list-style: none;
}

.item-list {
	display: inline-block;
}

.nav-link {
	position: relative;
	margin-right: 30px;
	font-size: 1.8rem;
	font-weight: 400;
	color: var(--light-gray);
	outline: none;
}

.nav-link::after {
	position: absolute;
	top: 35px;
	right: 0px;
	content: "";
	height: 2px;
	width: 100%;
	background-color: var(--purple);
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.6s;
}

.nav-link:hover {
	color: var(--white);
}

.nav-link:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}

.line-1,
.line-2,
.line-3 {
	width: 30px;
	height: 3px;
	background-color: var(--white);
	transition: 0.6s;
}

.line-1t,
.line-2t,
.line-3t {
	width: 30px;
	height: 3px;
	background-color: var(--white);
	transition: transform 0.6s;
}

.line-1t {
	transform: rotate(45deg) translate(5px, 5px);
}

.line-2t {
	display: none;
}

.line-3t {
	transform: rotate(-45deg);
}

/* --------------------------------------------------------*/

/*------------------------- MAIN -------------------------*/

main {
	margin-top: 100px;
}

.home {
	display: flex;
	justify-content: center;
	padding: 70px 40px;
}

.main-home {
	width: 60%;
	min-width: 501px;
	margin-top: 50px;
	margin-left: 2%;
}

.spam-home {
	display: block;
	font-size: 2.2rem;
	color: var(--snow);
}

h1 {
	color: var(--snow);
	font-size: 6.4rem;
}

.main-home h1 spam {
	color: var(--purple);
	font-size: 6.4rem;
	font-weight: 700;
}

.main-home p {
	font-size: 2.7rem;
	color: var(--snow);
}

.main-home p::after {
	position: relative;
	content: "|";
	margin-left: 10px;
	animation: typeWrite 1s infinite;
}

.buttons-home {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-top: 30px;
}
.typewriter:after {
	content: "|";
	margin-left: 8px;
	opacity: 1;
	-webkit-animation: blink 1s infinite;
	animation: blink 1s infinite;
}

.contact-btn {
	display: block;
	max-width: 200px;
	padding: 15px;
	border-radius: 6px;
	border: 1px solid var(--snow);
	color: var(--snow);
	text-decoration: none;
	font-weight: 500;
	font-size: 1.6rem;
	transition: 0.3s;
}

.contact-btn:hover {
	background-color: var(--snow);
	color: black;
}

.download-btn {
	display: block;
	max-width: 150px;
	padding: 15px;
	border: 1px solid var(--purple);
	border-radius: 6px;
	color: var(--purple);
	text-decoration: none;
	font-weight: 500;
	font-size: 1.6rem;
	transition: 0.3s;
	outline: none;
}

.download-btn:hover {
	background-color: var(--purple);
	color: var(--white);
}

.img-home {
	position: relative;
	bottom: 60px;
	right: 40px;
	max-width: 25%;
	animation: moveUndraw 1.7s infinite alternate-reverse linear;
}

/*------------------------- ABOUT-------------------------*/

.about {
	display: flex;
	justify-content: center;
	padding: 70px 20px;
	background-color: var(--light-dark);
}

.profile-about {
	max-width: 340px;
	margin-right: 8%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50%;
	border: 1px solid #191919;
	transition: border 1s ease;
}

.profile-about:hover {
	border: 1px solid var(--purple);
}

.about-info {
	max-width: 630px;
}

.about-info h2 {
	margin-bottom: 20px;
	color: var(--snow);
	font-size: 4rem;
	font-weight: 500;
}

.about-info p {
	font-size: 1.8rem;
	line-height: 3.2rem;
	color: #cccccc;
}

h2 spam {
	color: var(--purple);
}

/*------------ Projetos -----------*/

.projects {
	padding: 40px 0 100px 0;
}

.h2-projects {
	text-align: center;
	padding-bottom: 24px;
	font-size: 4rem;
	font-weight: 500;
	color: var(--snow);
}

.projects-container {
	display: flex;
	flex-direction: column;
	gap: 70px;
	margin-top: 50px;
	padding: 0 20px;
}

.row-1,
.row-2 {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 60px;
}

.project-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 15px;
	width: 343px;
	height: 425px;
	border-radius: 8px;
	border: 1px solid var(--dark);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	transition: 0.3s ease;
	background-color: var(--dark);
	color: var(--snow);
	text-decoration: none;
}

.project-card img {
	background-size: cover;
	background-repeat: no-repeat;
	min-width: 100%;
	min-height: 50%;
	object-fit: cover;
	border-radius: 6px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project-info {
	padding: 10px 5px 0 3px;
}

.project-info h4 {
	font-size: 2.5rem;
	font-weight: 700;
	color: var(--purple);
}

.project-info p {
	margin-top: 20px;
	font-size: 1.5rem;
	font-weight: 500;
}

.project-btn {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin: 20px 0;
}

.project-btn a {
	padding: 10px 20px;
	margin-top: 10px;
	outline: none;
	font-size: 1.5rem;
	font-weight: 500;
	border-radius: 8px;
	text-decoration: none;
}

.project-btn a:hover {
	opacity: 0.8;
}

.view-live {
	background-color: var(--purple);
	border: 1px solid var(--purple);
	color: var(--dark);
}

.github-repo {
	background-color: var(--dark);
	border: 1px solid var(--purple);
	color: var(--snow);
}

.soon {
	text-align: center;
	margin: auto;
}

.soon p {
	font-size: 3rem;
	color: var(--snow);
}

.show-more {
	display: block;
	margin: 100px auto 0 auto;
	padding: 10px 60px;
	border-radius: 6px;
	border: 1px solid var(--white);
	font-size: 1.7rem;
	cursor: pointer;
	font-weight: 550;
	background-color: var(--dark);
	color: var(--purple);
	outline: none;
}

.show-more:hover {
	filter: brightness(0.9);
}

.my-repositories {
	margin-left: 8%;
	color: var(--white);
}

/*-------------------------------------*/

/*------------ Skills -----------*/

.skills {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 70px 0px;
	gap: 170px;
	background-color: var(--light-dark);
}

.skills-article {
	width: 80%;
	min-height: 380px;
	min-width: 400px;
	max-width: 450px;
	margin-bottom: 10px;
}

.h2-skills {
	font-size: 4rem;
	color: var(--snow);
}

.skills-article p {
	color: var(--light-gray);
	font-size: 2.3rem;
}

.card-name {
	display: block;
	margin: 20px 0 10px 0;
	font-weight: 600;
	font-size: 3rem;
	text-transform: uppercase;
	color: var(--purple);
}

.skills-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 30px;
}

.skills-card {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
	border: 1px solid #191919;
	border-radius: 0.1rem;
	transition: 0.8s ease;
	background-color: #212121;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.skills-card:hover {
	border: 1px solid var(--purple);
}

.skills-card img {
	width: 60px;
}

#s-skills .skills-article .skills .changeDescription {
	-webkit-transition: 2s all ease;
	transition: 2s all ease;
}

/*---------------------------------*/

/*------------ Projetos -----------*/

.contacts {
	display: flex;
	align-items: center;
	padding: 70px 70px 60px 70px;
	gap: 20%;
}

.main-contacts {
	display: flex;
	flex-direction: column;
	margin-left: 10%;
}

.h2-contacts {
	margin-left: 10px;
	margin-bottom: 25px;
	font-size: 4rem;
	color: var(--snow);
}

.social-links {
	display: flex;
	align-items: center;
	padding: 10px 40px;
	border-radius: 100px;
	box-shadow: 0 10px 15px rgba(83, 82, 82, 0.2);
	gap: 40px;
	margin-top: 40px;
}

.social-links img {
	transition: 0.2s;
}

.social-links img:hover {
	transform: scale(1.2);
}

.form {
	height: 390px;
	width: 35%;
	padding: 20px;
	border-radius: 1rem;
	background-color: var(--dark);
}

.form label {
	display: block;
	margin-bottom: 20px;
	font-size: 1.8rem;
	font-family: "IBM Plex Sans", sans-serif;
	color: var(--snow);
}

.form input {
	display: block;
	width: 100%;
	padding: 15px 0 15px 8px;
	background-color: #343434;
	color: var(--snow);
	border: none;
	border-radius: 8px;
	outline: none;
}

.form textarea {
	display: block;
	width: 100%;
	height: 100px;
	padding: 8px;
	background-color: #343434;
	color: var(--snow);
	border: none;
	border-radius: 8px;
	outline: none;
	resize: none;
}

.form button {
	display: block;
	width: 60%;
	margin-top: 30px;
	padding: 10px 0;
	background-color: var(--purple);
	border: none;
	border-radius: 0.5rem;
	font-size: 2rem;
	font-weight: 550;
	cursor: pointer;
	outline: none;
}

.form button:hover {
	filter: brightness(0.9);
}

/*-------------------------------------*/
/*-------------------FOOTER------------------*/

.footer {
	background-color: var(--dark);
	padding: 15px 80px;
	width: 100%;
	color: var(--light-gray);
	display: flex;
	justify-content: center;
	font-size: 1.5rem;
	border-top: 1px solid rgba(114, 114, 126, 0.2);
}

.mention-name {
	color: var(--purple);
}

/* --------------------------------------------------------*/

/* KeyFrames */

@keyframes typeWrite {
	0%,
	100% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes moveUndraw {
	from {
		transform: translateY(0px);
	}

	to {
		transform: translateY(-15px);
	}
}

/* ------------------ */

/* ---------------------Media Queries----------------------*/

@media (max-width: 1200px) {
	.home {
		flex-direction: column-reverse;
		align-items: center;
		padding: 40px 20px 200px 20px;
		text-align: center;
	}

	.main-home {
		margin-left: 0;
	}

	.main-home h1 {
		margin: 3px;
	}

	.about {
		margin: 0;
		justify-items: center;
		align-items: center;
	}

	.main-home p {
		margin-left: 20px;
	}

	.img-home {
		right: 0;
		bottom: 0;
		max-width: 40%;
		margin-bottom: 30px;
	}

	.buttons-home {
		justify-content: center;
	}

	.skills {
		flex-direction: column;
		gap: 0;
		padding: 50px 20px 100px 20px;
		text-align: center;
		margin: 0;
	}

	.skills-article {
		min-height: 260px;
		min-width: 320px;
	}

	.contacts {
		flex-direction: column;
		align-items: center;
		padding: 50px 20px;
		gap: 40px;
		margin: 0;
		justify-content: center;
	}

	.profile-about {
		margin: 0;
	}

	.main-contacts {
		text-align: center;
		min-width: 300px;
		margin-left: 0;
	}

	.social-links {
		justify-content: center;
		gap: 20px;
		margin-top: 0;
	}

	.form {
		min-width: 360px;
	}

	.form button {
		margin: 30px auto;
	}
}

@media (max-width: 950px) {
	html {
		font-size: 60%;
	}

	header {
		padding: 15px 20px;
		opacity: 0.99;
	}

	.nav-list {
		display: none;
	}

	.show-list {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100vh;
		padding-top: 50px;
		position: absolute;
		top: 55px;
		left: 0;
		overflow: hidden;
		text-align: center;
		background-color: var(--dark);
		opacity: 0.97;
	}

	.item-list {
		margin-top: 50px;
	}

	.nav-link {
		font-size: 3.5rem;
	}

	.home {
		padding: 80px 20px 200px 20px;
	}

	.main-home {
		min-width: 400px;
	}

	.my-repositories {
		font-size: 1.5rem;
	}

	.menu-icon {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}
}

@media (max-width: 880px) {
	.img-home {
		max-width: 40%;
	}

	.profile-about {
		width: 40%;
		height: 40%;
	}
}

@media (max-width: 770px) {
	.about {
		flex-direction: column;
		text-align: center;
		margin: 0;
	}

	.about-info p {
		text-align: justify;
	}

	.skills {
		margin: 0;
	}

	.profile-about {
		margin-bottom: 20px;
	}
}

@media (max-width: 600px) {
	html {
		font-size: 50%;
	}

	.main-home {
		width: 100%;
		min-width: 350px;
	}
	.about {
		margin: 0;
	}
	.project-info {
		padding: 20px 0 0 0;
	}

	.project-info p {
		font-size: 2rem;
	}

	.project-info spam {
		font-size: 1.5rem;
	}

	.skills-grid {
		grid-template-columns: repeat(2, 1fr);
	}

	.contacts {
		flex-direction: column;
	}

	.social-links {
		margin-top: 40px;
	}

	.form {
		padding-top: 50px;
	}
}

@media (max-width: 470px) {
	.project-card {
		height: 460px;
		width: 80%;
	}

	.project-btn {
		margin-top: 30px;
		flex-wrap: wrap;
	}
}

@media (max-width: 420px) {
	html {
		font-size: 48%;
	}

	.main-home {
		width: 100%;
	}

	.home {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}
	.main-home {
		margin-top: 0;
		min-width: 300px;
		margin-left: 2%;
	}

	.img-home {
		max-width: 110px;
	}

	.skills {
		flex-direction: column;
		align-items: center;
		padding-top: 0;
	}

	.skills-article {
		max-height: 200px;
	}

	.skills-article h2 {
		font-size: 3.8rem;
		padding-top: 0;
	}
	.skills-article p {
		font-size: 2rem;
		margin-left: 50px;
		padding-top: 0;
		margin-bottom: 0;
	}

	.skills-grid {
		grid-template-columns: repeat(2, 1fr);
	}

	.skills-info {
		margin-bottom: 0;
	}

	.skills-card {
		margin-top: 0;
	}

	.contacts {
		flex-direction: column;
		align-items: center;
		margin-right: 35px;
	}

	.form {
		width: 300px;
		margin-top: 50px;
		margin-left: 40px;
	}

	.form button {
		margin-left: 50px;
	}
}

@media (max-width: 414px) {
	.skills {
		padding-top: 100px;
		text-align: center;
	}

	.skills-article p {
		margin: 0;
	}

	.about {
		text-align: center;
	}

	.profile-about {
		margin-bottom: 20px;
	}

	.contacts {
		margin: 0;
	}

	.form {
		margin: 0;
	}
}
